In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
##import MultiColumnLabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
import pickle

In [6]:
data=pd.read_csv('./content/garments_worker_productivity.csv')
data.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382

In [ ]:
corrMatrix=data.corr()
fig, ax= plt.subplots(figsize=(15,15))
sns.heatmap(corrMatrix, annot=True, linewidths=0.5, ax=ax)
plt.show()

In [ ]:
data.describe()

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.isnull().sum()

In [ ]:
data.drop(['wip'],axis=1,inplace=True)

In [ ]:
data['date']=pd.to_datetime(data['date'])
data.date

In [ ]:
data['month']=data['date'].dt.month
data.drop(['date'],axis=1,inplace=True)
data.month

In [ ]:
data['department'].value_counts()

In [ ]:
data['department']=data['department'].apply(lambda x: 'finishing' if x.replace(" ","") == 'finishing' else 'sweing')
data['department'].value_counts()

In [ ]:
Mcle=MultiColumnLabelEncoder.MultiColumnLabelEncoder()
data=Mcle.fit_transform(data)

In [ ]:
x=data.drop(['actual_productivity'],axis=1)
y=data['actual_productivity']
X=x.to_numpy()
X

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=0)

In [ ]:
model_lr=LinearRegression()
pred_test=model_lr.predict(x_test)
print("test_MSE:",mean_squared_error(y_test,pred_test))
print("test_MAE:",mean_absolute_error(y_test,pred_test))
print("R2_Score:{}".format(r2_score(y_test,pred_test)))

In [ ]:
model_rf=RandomForestRegressor(n_estimators=200, max_depth=5)
pred=model_rf.predict(x_test)
print("test_MSE:",mean_squared_error(y_test,pred))
print("test_MAE:",mean_absolute_error(y_test,pred))
print("R2_Score:{}".format(r2_score(y_test,pred)))

In [ ]:
model_xgb = xgb.XGBRegressor(n_estimators = 200, max_depth=5,learning_rate = 0.1)
pred3=model_xgb.predict(x_test)
print("test_MSE:",mean_squared_error(y_test,pred3))
print("test_MAE:",mean_absolute_error(y_test,pred3))
print("R2_Score:{}".format(r2_score(y_test,pred3)))